.container2 {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.cart-switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--secondary--color);
    width: 60%;
    border-radius: 30px;
    padding: 5px 10px;
    gap: 10px;
  }

  .switch-button {
    width: 50%;
    text-align: center;

  }
  
  .cart-switch button {
    padding: 10px 20px;
    background: none;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-weight: 500;
    transition: all 0.2s ease-in;
    
  }
  
  .cart-switch button.active {
    color: #fff;
    background-color: var(--primary--color);
  }


  